[submodule "witness-checker"]
	path = witness-checker
	url = https://github.com/GaloisInc/witness-checker
[submodule "MicroRAM"]
	path = MicroRAM
	url = https://github.com/GaloisInc/MicroRAM
[submodule "grit"]
	path = grit
	url = https://github.com/GaloisInc/grit
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/GaloisInc/ffmpeg
[submodule "llvm-passes"]
	path = llvm-passes
	url = https://github.com/GaloisInc/llvm-passes
[submodule "picolibc"]
	path = picolibc
	url = https://github.com/GaloisInc/picolibc
[submodule "openssl"]
	path = openssl
	url = https://github.com/GaloisInc/openssl
[submodule "openssl-driver"]
	path = openssl-driver
	url = https://github.com/GaloisInc/openssl-driver
[submodule "scuttlebutt-attack"]
	path = scuttlebutt-attack
	url = https://github.com/GaloisInc/scuttlebutt-attack
[submodule "openssl-sqrt"]
	path = openssl-sqrt
	url = https://github.com/GaloisInc/openssl
[submodule "openssl-sqrt-driver"]
	path = openssl-sqrt-driver
	url = https://github.com/GaloisInc/openssl-sqrt-driver
[submodule "sym-proof"]
	path = sym-proof
	url = https://github.com/GaloisInc/cheesecloth-sym-proof
